---
const { id } = Astro.props;
---

<button id={id}><slot/></button>

<style>
button {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        background-color: #eee;
        color: #1e1e1e;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }

    button:hover {
        background-color: #222;
        color: #ddd;
    }
</style>