---
const { title } = Astro.props;
---

<div class="card-positioner">
    <div class="card-container">
        <div class="card-title">
            {title}
        </div>
        <slot />
    </div>
</div>

<style>
    .card-positioner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1e1e1e;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        border-width: 2px;
        border-color: #eee;
        border-style: solid;
        color: #eee;
    }

    .card-title {
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: center;
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>
