---
const { title } = Astro.props;
import Kiheader from "../components/kiheader.astro";
import Kifooter from "../components/kifooter.astro";
import "../style/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"
            rel="stylesheet"
        />
        <title>{title} | Key Intercept</title>
    </head>

    <body>
        <Kiheader title={title} />
        <main>
            <slot />
        </main>
        <Kifooter />
    </body>
</html>
